@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Bangers|Roboto&display=swap');

.wrapper {
  
  display: grid;
  grid-template-columns: 100px 1 fr 100px;
  grid-template-rows: 70px, repeat(auto, 100px);
  width: 100vw;
}

.header {
  grid-column: 1 / 4;
  display: grid;
}
.header h1 {
  justify-self: center;
  align-self: center;
  font-family: 'Bangers', cursive;
  font-size: 3rem;
}

#stories {
  grid-column: 2 / 3;
}

.storywrap {
  background-color: whitesmoke;
  box-shadow: 10px 2px 11px 1px #888888;
  grid-column: 2 / 3;
  padding: 6px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.scorebar {
  align-self: center;
  justify-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  width: 40px;
  height: 40px;
  color: white;
  background-color: black;
  border-radius: 50%;
  font-size: .8rem;
  font-family: 'Roboto', sans-serif;
}

.storytitle {
  align-self: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}


.enddiv {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  width: 120px;
  margin-right: 10px;
  align-items: flex-end;
}
.storyurl {
  text-decoration: none;
  color: white;
  justify-self: flex-start;
  border: 1px solid black;
  background-color: black;
  padding: 4px;
  border-radius: 7px;
  text-align: center;
  font-size: .7rem;
}
.storyurl:hover {
  text-decoration: underline;
}
.storywrap h2 {
  width: 90%;
}
.storyauth {
  font-size: .8rem;
  justify-self: flex-end;
}

.arrows {
  align-self: center;
  justify-self: flex-start;
  display: inline-block;
  width: auto;
  margin-right: 15px;
}

.upvote {
  font-size: 1.3rem;
}
.upvote:hover {
  cursor: pointer;
}

.downvote {
  font-size: 1.3rem;
} 
.downvote:hover {
  cursor: pointer;
}