@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Bangers|Sawarabi+Mincho&display=swap');


/* Homepage styles */


body {
  background-color: rgb(252, 193, 121);
}
.wrapper {  
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 100px 1fr 200px;
  width: 100vw;
}

.header {
  grid-column: 1 / 4;
  display: grid;
}
.header h1 {
  justify-self: center;
  align-self: center;
  font-family: 'Bangers', cursive;
  font-size: 3rem;
}

.footer {
  background-color: lightgrey;
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0px;
  left: 0px;
}
.footer div {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
.footer h4 {
  font-size: 1.2rem;
}

.footspans {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  padding: 6px;
}
.footspans span {
  margin-left: 2px;
  margin-right: 2px;
  text-decoration: underline;
}
.footspans span:hover {
  margin-left: 2px;
  margin-right: 2px;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}
.footspans a {
  color: black;
  text-decoration: none;
}



.storywrap {
  align-self: center;
  background-color: rgb(240, 239, 239);
  box-shadow:  0px 0px 10px 10px rgb(249, 174, 84);
  grid-column: 2 / 3;
  padding: 6px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  border: 1px rgb(193, 191, 191);
  width: 80vw;
  align-self: center;
}

#stories {
  display: grid;
  grid-template-rows: repeat(auto, 100px);
  grid-column: 2 / 3;
}

.scorebar {
  align-self: center;
  justify-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  width: 30px;
  height: 30px;
  color: whitesmoke;
  background-color: black;
  border-radius: 50%;
  font-size: .7rem;
  font-family: 'Roboto', sans-serif;
}

.storytitle {
  align-self: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

/* .commentlink {
  background-color: lightgrey;
  height: 20px;
  width: 75px;
  text-justify: center;
  text-align: center;
  align-self: center;
  text-decoration: none;
  color: black;
  border: 1px solid lightgrey;
  border-radius: 4px;
  justify-self: flex-start;
  margin-left: 10px;
}
.commentlink:hover {
  cursor: pointer;
} */

.enddiv {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  width: 120px;
  margin-right: 10px;
  align-items: flex-end;
}
.storyurl {
  text-decoration: none;
  color: whitesmoke;
  justify-self: flex-start;
  border: 1px solid black;
  background-color: rgb(28, 27, 27);
  padding: 4px;
  border-radius: 4px;
  text-align: center;
  font-size: .7rem;
  margin-bottom: 5px;
}
.storyurl:hover {
  text-decoration: underline;
}
.storywrap h2 {
  width: 90%;
}
.storyauth {
  font-size: .8rem;
  justify-self: flex-end;
}

.arrows {
  align-self: center;
  justify-self: flex-start;
  display: inline-block;
  width: auto;
  margin-right: 15px;
}

.upvote {
  font-size: 1.3rem;
}
.upvote:hover {
  cursor: pointer;
}

.downvote {
  font-size: 1.3rem;
} 
.downvote:hover {
  cursor: pointer;
}


/* Comment Page Styles */

